*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
     padding: 60px 0;
     width: 90%;
     max-width: 1000px;
     margin: auto;
     overflow: hidden;
}

.titulo{
    color: coral;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*header*/

header{
    width: 100%;
    height: 600px;
    background: #FFAFBD;
      /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(22, 100%, 81%, 0.61), #ffafbc9d), url(../img/portada.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(22, 100%, 81%, 0.61), #ffafbc9d), url(../img/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}

nav > a:hover{
    text-decoration: underline;
    
}

header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;

}
.texto-header h2{
    font-size: 30px;
    color: #fff;
    margin: 30px 0;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;

}

/*about us*/
main .recetas{
    padding: 30px 0 60px 0;
}

.contenedor_recetaseconomicas{
    display: flex;
    justify-content: space-evenly;

}

.imagen-recetas-eco{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 30px 0;
}
.contenedor_recetaseconomicas .contenido-texto{
    width: 50%;
    margin: 30px 0;
}

.contenido-texto h3{
    margin-bottom: 15px;

}

.contenido-texto h3 span{
    background-color: coral;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
    margin-right: 6px;
}

.contenido-texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*populares*/

.recetas{
    background: #f2f2f2;
}

.galeria-recetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-recetas{
    width: 24%;
    margin-bottom: 30px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5)
}

.imagen-recetas > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-recetas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(29, 97%, 46%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-recetas img{
    width: 50px;   
}

.hover-recetas p{
    color: #fff;
}

.imagen-recetas:hover .hover-recetas{
    transform: scale(1);
}


.secciones{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.secciones-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secciones-int{
    width: 28%;
    text-align: center;
}

.secciones-int img{
    width: 90%;
}

.servicio-int p{
    margin: 10px 0;
    font-weight: 300;
    text-align: justify;
}

footer{
    background: rgb(223, 120, 2);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color:#fff;
    border-bottom: 3px solid rgb(122, 79, 13);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color:#fff;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #000000;
}

@media screen and (max-width:900px) {
    header{
        background-position: center;
    }
    .contenedor_recetaseconomicas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recetaseconomicas .contenido-texto{
        width: 90%;
    }

    .imagen-recetas-eco{
        width: 90%;
    }
    /*Galeria*/
    .imagen-recetas{
        width: 44%;
    }
    /*Secciones*/
    .secciones-cont{
        justify-content: center;
        flex-direction: column;
    }

    .secciones-int{
        width: 100%;
        text-align: center;
    }

    .secciones-int:nth-child(1), .secciones-int:nth-child(2){
        margin-bottom: 60px;
    }

    .secciones-int img{
        width: 90%;
        height: 90%;
    }
}

@media screen and (max-width: 500px) {
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }
    
    .textos-header h2{
        font-size: 20px;
    }

   .imagen-recetas-eco{
    margin-bottom: 60px;
    width: 99%;
   }
   
   .recetaseconomicas .contenido-texto{
    width: 95%;
   }

   .imagen-recetas{
    width: 95%;
   }

   .contenedor-footer{
    flex-direction: column;
    border:none;
   }
   
   .content-foo{
    margin-bottom: 20px;
    text-align: center;
   }

   .content-foo h4{
    border: none;
   }

   .content-foo p{
    color:#ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
   }

   .titulo-final{
    font-size: 20px;
   }
}

